<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta bg-white p-3 mb-3 rounded shadow-sm" style="border-left: 10px solid #198754">
      <p><span class="fw-bold">{{user.username}}</span> on <span class="fw-bold">{{format_date created_at}}</span></p>
      <p>"{{comment_text}}"</p>
    </div>
  </section>
  {{/each}}
</div>