<section>
  <h2 class="my-3 py-3">Create A New Post</h2>

  <form class="new-post-form bg-white p-3 mb-3 rounded shadow-sm">
    <div class="mb-3">
      <label class="form-label" for="post-title">Title</label>
      <input class="form-control" type="text" id="post-title" name="post-title" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="post-content">Content</label>
      <input type="textarea" class="form-control" id="post-content" name="post-content" rows="3" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</section>


{{#if posts.length}}
<h2 class="my-3 py-3">Your Posts</h2>
<section class="bg-white p-3 mb-3 rounded shadow-sm">
  
  <ol class="list-unstyled">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link"><button type="submit" class="btn-sml mb-3 btn-primary"><i class="fas fa-edit"></i> Edit post</button></a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>