{{> post-info post}}

{{#if loggedIn}}
<div class="my-3">
<form class="comment-form bg-white p-3 mb-3 rounded shadow-sm">
  <div>
    <textarea class="form-control mb-3" name="comment-body"></textarea>
  </div>

  <div>
    <button class="btn btn-primary" type="submit">add comment</button>
  </div>
</form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}